.section {
    position: relative;
    height: 100vh;
  }
  
  
  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem;
  }
  .bigSvg {
    width: 666px;
    height: 900px;
    fill: #dae952;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .title {
    color: #000;
    font-family: Inter;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 20%;
    left:10%
  }
  .slogan {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
    position: absolute;
    top: 40%;
    left:10%
  }
  
  .button {
  background-color: #DAE952;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 229px;
  height: 58px;
  position: absolute;
  top:60%;
  left:13%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
  }
  
  .button:hover {
    background-color: #f2f2f2;
  }
  

.border{
  position: absolute;
    top: -8%;
    left: 45%;
    width: 800px;
    height: 800px;
    border-radius: 900px;
    border: 3px solid #DAE952;}

  .image1 {
  width: 710px;
  height: 583px;
  border-radius: 291.5px;
  position: absolute;
  top:9%;
  left:50%
  }
  .firstSvg {
    width: 54px;
    height: 39px;
    flex-shrink: 0;
    stroke-width: 6px;
    stroke: #000;
    position: absolute;
    top:15%;
    left:10%
    
  }
  
  .secondSvg {
    width: 92.379px;
    height: 53px;
    flex-shrink: 0;
    stroke-width: 5px;
    stroke: #dae952;
    position: absolute;
    top:81%;
    left:40%
  }
  
  .thirdSvg {
    width: 63.811px;
    height: 47.5px;
    flex-shrink: 0;
    stroke-width: 6px;
    stroke: #dae952;
    position: absolute;
    top:27%;
    left:50%
  }
  
  .fourthSvg {
    width: 79.49px;
    height: 42.875px;
    transform: rotate(-179.842deg);
    flex-shrink: 0;
    stroke-width: 7px;
    stroke: #000;
    position: absolute;
    top:100%;
    left:7%
  }
  
  
  .fifthSvg {
    width: 123px;
    height: 33px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #000;
    position: absolute;
    top:15%;
    right:10%
  }