.signupcontainer {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: #dae95233;
}

.container {
  position: relative;
  width: 30%;
  height: 650px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-left: 5%;
  margin-top: 3%;
  border-radius: 3%;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .login {
  width: 100%;
}

.login h1 {
  font-size: 2em;
  color: black;
}

.form1 {
  justify-content: center;
  width: 100%;
  height: 30%;
  border-radius: 0px;
  border-color: transparent;
  background-color: transparent;
  color: white;
}

.incontainer {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 25px 0;
  padding-top: 0px;
}

.incontainer label {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.incontainer input:focus ~ label,
.incontainer input:valid ~ label {
  top: -5px;
}

.incontainer input {
  margin-top: 3%;
  margin-left: -15%;
  width: 80%;
  height: 44px;
  background: transparent;
  background-color: white;
  border: transparent solid 2px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  color: black;
  font-weight: 600;
  border-color: aliceblue solid 2px;
}

.button {
  margin-top: -15px;
}

.button button {
  height: 44px;
  width: 200px;
  background-color: Black;
  overflow: hidden;
  border: solid;
  border-color: aliceblue;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #ddd;
  color: black;
  border-color: black;
}

.paragraph {
  border-top: solid black 2px;
}

.link p {
  color: black;
}

.link a {
  text-decoration: none;
}

.link img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border: solid aliceblue 2px;
}

.slogan {
  margin-right: 10px;
  height: 750px;
  width: 800px;
  background-image: url("https://media.licdn.com/dms/image/C5603AQH57N3JQ7ph0w/profile-displayphoto-shrink_800_800/0/1651496670385?e=2147483647&v=beta&t=Ul5vEfHq7C8P7xJsjDj3wPW6rf_Lt6mmkib9Ji_E320");
}

.title {
  margin-top: 310px;
  color: whitesmoke;
  font-size: 60px;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .signupcontainer {
    text-align: center;
    justify-content: center;
    display: grid;
    width: 100%;
    height: 1500px;
  }

  .container {
    width: 50%;
    margin-left: 25%;
  }
}
