*{
  padding: 0;
  margin: 0;
  text-decoration:none ;
  list-style: none;
  font-family: 'work sans',sans-serif;

}

body{
  height: 100px;

}

section{
  padding: 100px;
height: 100px;

}

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap:3.5rem;
  background: green;
}
