.main {
  font-family: "Inter", sans-serif;
  background-image: url("../../../public/Images/background2.png");
  background-size: 99%;
  height: 700px;
  width: 100%;
  justify-content: center;
}

.Heading {
  text-align: center;
  padding-top: 80px;

  width: 50%;
  
}

.h1 {
  color: #528830;
  font-size: 40px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.content {
  color: black;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.photo{width: 50%;
}

.photo img {
  
  height: 514px;
  margin-top: 100px;
  width: 475px;
  border-radius: 238px;
}
.position {
  position: absolute;
  width: 100%;
  height: 700px;
  display: flex;
  text-align: center;
}

.contactbtn {
  margin-top: 30px;
  width: 150px;
  margin-left: 360px;
  border-radius: 20px;
}

.contactbtn {
  background-color: #dae952;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 229px;
  height: 58px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: -2%;
}

.contactbtn:hover {
  background-color: #f2f2f2;
}

.hotel {
  top: 20%;
  background-image: url("../../../public/Images/background3.png");
  background-size: 100%;
  color: black;
  height: 900px;
  text-align: center;
  width: 100%;
  padding-top: 5%;
  font-family: "Inter", sans-serif;
}

.h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-top: -2%;
}

.h3 {
  color: black;
  font-size: 50px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-bottom: -2%;
}

.h2 p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

@media (max-width: 1200px) {
  .position {
    display: grid;
  }
  .main {
    height: 1090px;
  }
  .h2 {
    margin-top: 3%;
  }
  .Heading {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }

  .h1 {
    text-align: center;
  }

  .photo {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    height: 650px;
  }
  .photo img {
    float: none;
  }
}
@media (max-width: 800px) {
  .hotel {
    height: 2350px;
  }
  .h2 {
    margin-top: 3%;
  }
}
@media (max-width: 600px) {
 
  .main{height:850px ;}
  .title {
    padding: 10px;
  }
  .photo {
   
    height: 375px;
    margin-top: 20px;
    width: 100%;
   
  
  }
  .photo img{
    height: 275px;
    margin-top: 70px;
    width: 275px;
    border-radius: 238px;
  }

  .h2{font-size:50px ;}
  .h3{font-size:xx-large ;}
}

@media (max-width: 425px) {
  .main{height:900px ;}

  .hotel {
    height: 2100px;
  }

  .h1 {
    font-size: x-large;
  }
  .h2{font-size:40px ;}
  .h3{font-size:x-large ;}
  
  .content p{
    font-size: medium;
  }
}